

h1 {
	font-family: 'Roboto Slab', serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 2.5;
  text-align: right; }

  h2 {
	font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 2.5;
  text-align: right; }

body {
max-width: 1280px;
background-color: rgb(0,255,255)
}


#button_j{
	display: block;
	position: absolute;
	width: 213px;
	height: 75.75px;
	left: 30px;
	top: 30px;

	background: #FFFF00;
	border: 5px solid #000000;
	box-sizing: border-box;
	border-radius: 14px;

	text-align: center;
	font-family: 'Roboto Slab', serif;;
	color: black;
	font-size: 36px;
	padding:4px;
	z-index: 200
	
}

.yellowcaption{
	font-family: 'Quicksand', sans-serif;
	color: yellow;}


/* CART COLLAGE */

/* carnations_yellow */
.carnation1{
	position: absolute;
	width: 387px;
	height: 424px;
	left: 690.86px;
	top: 188.49px;
	transform: rotate(-41.07deg);

	background: url(photos/images_tj/carnations_yellow.png);

	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;
}

/* carnations_yellow HOVER */
.carnation1:hover{

	z-index:100;
	transform: rotate(20deg)
}


.chips{
	position: absolute;
	width: 311.14px;
	height: 402.9px;
	left: 250px;
	top: 60px;
	transform: rotate(33.49deg);

	background: url(photos/images_tj/chips1.png);

	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;}

.chips:hover{

	z-index:100;
	transform: rotate(55deg)
	}


.lime1{
	position: absolute;
	width: 202.33px;
	height: 163.07px;
	left: 1038.86px;
	top: 525.58px;

	transform: rotate(-3.56deg);
	background: url(photos/images_tj/lime.png);
	
	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;}

.lime1:hover{

	z-index:100;
	transform: rotate(20deg)}

.lime2{
	position: absolute;
	width: 186.16px;
	height: 156.03px;
	left: 1086.86px;
	top: 91.8px;
	transform: rotate(-44.21deg);
	background: url(photos/images_tj/lime.png);
	
	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;}

  .lime2:hover{
	z-index:100;
	transform: rotate(-10deg)}

  .lime3{
	position: absolute;
	width: 186.16px;
	height: 156.03px;
	left: 105.27px;
	top: 584.07px;
	transform: rotate(-114.52deg);
	background: url(photos/images_tj/lime.png);
	
	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;}

.lime3:hover{
	z-index:100;
	transform: rotate(30deg)}


.kombucha{
	position: absolute;
	width: 150.79px;
	height: 450.3px;
	left: 739.21px;
	top: 423.13px;

	background: url(photos/images_tj/synergy.png);
	transform: rotate(90.51deg);
	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;}


.kombucha:hover{
	z-index:100;
	transform: rotate(103deg)
}

.sour{
	position: absolute;
	width: 550px;
	height: 319px;
	left: 28.86px;
	top: 296px;

	background: url(photos/images_tj/sourdough.png);
	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;}

  	.sour:hover{
	z-index:100;
	transform: rotate(-15deg)}


.icecream{
	position: absolute;
	width: 281px;
	height: 281px;
	left: 70.86px;
	top: 183px;
	background: url(photos/images_tj/icecream.png);
	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;}

	.icecream:hover{
	z-index:100;
	transform: rotate(-55deg)}

.ricee{
	position: absolute;
	width: 343.77px;
	height: 220.09px;
	left: 594.86px;
	top: 131.35px;

	background: url(photos/images_tj/fried_rice.png);
	transform: rotate(-15.41deg);

	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;}

.ricee:hover{z-index:100;
	transform: rotate(45deg)}

.ricee2{
	position: absolute;
	width: 313.77px;
	height: 200.09px;
	left: 214.44px;
	top: 507.99px;
	transform: rotate(28.86deg);
	background: url(photos/images_tj/fried_rice.png);
	
	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;}

.ricee2:hover{z-index:100;
	transform: rotate(-20deg)}

.cocoshrimp{
	position: absolute;
	width: 480.74px;
	height: 300.98px;
	left:300.17px;
	top: 208.26px;

	background: url(photos/images_tj/cocoshrimp.png);
	transform: rotate(5.09deg);
	
	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;}



.cocoshrimp:hover{z-index:100;
	transform: rotate(-15deg)}


.cookies{
	position: absolute;
	width: 278.32px;
	height: 173.31px;
	left: 916.56px;
	top: 140.94px;
	background: url(photos/images_tj/cookies.png);
	transform: rotate(39.22deg);

	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;}

.cookies:hover{z-index:100;
	transform: rotate(-30deg)}

.mac_cheese{
	position: absolute;
	width: 218.47px;
	height: 306.25px;
	left: 384.83px;
	top: 375px;

	background: url(photos/images_tj/mac_cheese.png);
	transform: rotate(37.63deg);
	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;
}

.mac_cheese:hover{z-index:100;
	transform: rotate(50deg)}


.maple_syrup{position: absolute;
	width: 337px;
	height: 346px;
	left: 978.86px;
	top: 247px;

	background: url(photos/images_tj/maple_syrup.png);
	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;
}

.maple_syrup:hover{z-index:100;
	transform: rotate(-45deg)}

.pepita{position: absolute;
	width: 205px;
	height: 280px;
	left: 943.86px;
	top: 454px;

	background: url(photos/images_tj/pepita.png);
	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;}

  	.pepita:hover{z-index:100;
	transform: rotate(-15deg)}

.everyday_seasoning{
	position: absolute;
	width: 173px;
	height: 355px;
	left: 521.86px;
	top: 364.06px;

	background: url(photos/images_tj/everyday_seasoning.png);
	transform: rotate(-16.78deg);
	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;}

.everyday_seasoning:hover{z-index:100;
	transform: rotate(15deg)}


.chile_seasoning{
	position: absolute;
	width: 174px;
	height: 300px;
	left: 673px;
	top: 377.15px;

	background: url(photos/images_tj/chile_seasoning.png);
	transform: rotate(41deg);
	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;}

.chile_seasoning:hover{z-index:100;
	transform: rotate(-15deg)}





  	/* CARNATIONS Section */

.bluebox1{
	position: absolute;
	width: 1280px;
	height: 10440px;
	left: 0px;
	top: 800px;

	background: #3DADFF;}

#carnation2{
	position: absolute;
	width: 531.08px;
	height: 472.37px;
	left: 373px;
	top: 800px;
	transform: rotate(179.76deg);

	background: url(photos/images_tj/carnations_yellow.png);

	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: 50% 0%;}



.car_text{
	position: absolute;
	width: 1154px;
	height: 59px;
	left: 89px;
	top: 1253.78px;

	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 59px;
	/* or 165% */
	color: #FAFF00;}


/* $3.99 */

.car_text2{
	position: absolute;
	width: 259px;
	height: 41px;
	left: 92px;
	top: 1380.78px;

	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 59px;
	color: #FFFFFF;}


	/* CHIPS Sections */

.bluebox2{
	position: absolute;
	width: 1280px;
	height: 760px;
	left: 0px;
	top: 1525px;

	background: #0094FF;
	z-index: 2}

#tile_chips{

	position: absolute;
	width: 1246px;
	height: 320px;
	left: 25px;
	top: 1650px;

	background: url(photos/images_tj/tilechips.png);
	z-index: 100;

	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;
  	background-size: 100%}


.text_chip1{
	position: absolute;
	width: 1154px;
	height: 119px;
	left: 63px;
	top: 2002px;

	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 59px;
	/* or 165% */
	color: #FAFF00;
	z-index: 100
	}

.text_chips2{
	position: absolute;
	width: 259px;
	height: 41px;
	left: 63px;
	top: 2135px;
	z-index: 100;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 59px;
	color: #FFFFFF;
	}

/* LIMES Sections */

#lime11{
	position: absolute;
	width: 1200px;
	height: 300px;
	left: 20px;
	top: 2417px;

	background: url(photos/images_tj/lime11.png);
	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;
  	background-size: 100%}


.text_lime1{
	position: absolute;
	width: 1154px;
	height: 59px;
	left: 68px;
	top: 2798px;

	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 59px;
	/* or 165% */


	color: #FAFF00;}


.text_lime2{
	position: absolute;
	width: 259px;
	height: 41px;
	left: 68px;
	top: 2876px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 59px;
	/* or 124% */

	color: #FFFFFF;}

.bluebox3{
	position: absolute;
	width: 1280px;
	height: 760px;
	left: 0px;
	top: 3020px;

	background: #0094FF;
	z-index: 0}


/* KOMBUCHA Sections */

#kombucha1{
	position: absolute;
	width: 1280px;
	height: 350px;
	left: 0px;
	top: 3140px;

	background: url(photos/images_tj/kombucha1.png);

	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;
  	background-size: 100%
  	z-index: 100}

.text_komb{position: absolute;
	width: 1154px;
	height: 59px;
	left: 68px;
	top: 3539px;

	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 59px;
	/* or 165% */
	color: #FAFF00;
}

.text_komb2{
	position: absolute;
	width: 259px;
	height: 41px;
	left: 68px;
	top: 3617px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 59px;
	/* or 124% */
	color: #FFFFFF;}

/* SourDough Sections */

#sour1{
	position: absolute;
	width: 673.47px;
	height: 389.39px;
	left: 303.05px;
	top: 3857px;

	background: url(photos/images_tj/sourdough.png);
	transform: rotate(0.01deg);

	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;
  	z-index: 10;
}

.text_sour{
	position: absolute;
	width: 1154px;
	height: 59px;
	left: 68px;
	top: 4280px;

	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 59px;
	/* or 165% */
	color: #FAFF00;
}

.text_sour2{
	position: absolute;
	width: 259px;
	height: 41px;
	left: 68px;
	top: 4358px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 59px;
	/* or 124% */
	color: #FFFFFF;
}

/* IceCream Sections */

.bluebox4{
	position: absolute;
	width: 1280px;
	height: 760px;
	left: 0px;
	top: 4502px;

	background: #0094FF;
	z-index: 0}

#icecream1{
	position: absolute;
	width: 1000px;
	height: 380px;
	left: 110px;
	top: 4630px;

	background: url(photos/images_tj/icecream1.png);

	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;
  	z-index: 10;
}

.text_ic{
	position: absolute;
	width: 1154px;
	height: 59px;
	left: 68px;
	top: 5021px;

	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 59px;
	/* or 165% */

	color: #FAFF00;}

.text_ic2{
	position: absolute;
	width: 259px;
	height: 41px;
	left: 68px;
	top: 5099px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 59px;
	/* or 124% */


	color: #FFFFFF;

}


/* RICE Sections */

#rice1{
	position: absolute;
width: 517.97px;
height: 361.76px;
left: 539.31px;
top: 5393.75px;
transform: rotate(-0.75deg);
background: url(photos/images_tj/fried_rice.png);
background-size: cover;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;
  	z-index: 10;
}

#rice2{
	position: absolute;
	width: 507.19px;
	height: 325.4px;
	left: 218px;
	top: 5375px;
	transform: rotate(-15deg);
	background: url(photos/images_tj/fried_rice.png);
	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;
  	z-index: 15;
}

.text_rice{
	position: absolute;
	width: 1154px;
	height: 59px;
	left: 68px;
	top: 5762px;

	font-family: Quicksand;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 59px;
	/* or 165% */
	color: #FAFF00;
}


.text_rice2{
	position: absolute;
	width: 259px;
	height: 41px;
	left: 68px;
	top: 5840px;
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 59px;
	/* or 124% */

	color: #FFFFFF;
}


/* Coco Shrimp Sections */

.bluebox5{
	position: absolute;
	width: 1280px;
	height: 760px;
	left: 0px;
	top: 5987px;

	background: #0094FF;
	z-index: 0}

#cocoshrimp1{
	position: absolute;
	width: 1100px;
	height: 330px;
	left: 70px;
	top: 6102px;

	background: url(photos/images_tj/cocoshrimp1.png);
	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;
  	z-index: 15;
}

.text_shr{
	position: absolute;
	width: 1154px;
	height: 59px;
	left: 68px;
	top: 6503px;

	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 59px;
	/* or 165% */
	color: #FAFF00;
	}

.text_shr2{
	position: absolute;
	width: 259px;
	height: 41px;
	left: 68px;
	top: 6581px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 59px;
	/* or 124% */

	color: #FFFFFF}


	/* Cookies Sections */


#cookies1{
	position: absolute;
	width: 827px;
	height: 361px;
	left: 224px;
	top: 6860px;


	background: url(photos/images_tj/cookies1.png);
	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;
  	z-index: 15;
}

.text_cookies{
	position: absolute;
	width: 1154px;
	height: 59px;
	left: 65px;
	top: 7244px;

	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 59px;
	/* or 165% */


	color: #FAFF00;}

.text_cookies1{position: absolute;
	width: 259px;
	height: 41px;
	left: 65px;
	top: 7322px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 59px;
	/* or 124% */

	color: #FFFFFF;}

	/* Mac and Cheese Section */

.bluebox6{
	position: absolute;
	width: 1280px;
	height: 760px;
	left: 0px;
	top: 7466px;

	background: #0094FF;
	z-index: 0}

#mac_cheese1{

	position: absolute;
	width: 900px;
	height: 460px;
	left: 215px;
	top: 7500px;

	background: url(photos/images_tj/mac_cheese1.png);
	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;
  	z-index: 15;
}

.text_cheese1{
	position: absolute;
	width: 1154px;
	height: 59px;
	left: 65px;
	top: 7985px;

	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 59px;
	/* or 165% */
	color: #FAFF00;
}

.text_cheese2{
	position: absolute;
	width: 259px;
	height: 41px;
	left: 65px;
	top: 8063px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 59px;
	/* or 124% */

	color: #FFFFFF;
}

/* Syrup Section */


#maple_syrup1{

	position: absolute;
	width: 780px;
	height: 430px;
	left: 251px;
	top: 8272px;

	background: url(photos/images_tj/maple_syrup1.png);
	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;
  	z-index: 15;
}

.ms1{
	position: absolute;
	width: 1154px;
	height: 59px;
	left: 65px;
	top: 8726px;

	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 59px;
	/* or 165% */
	color: #FAFF00;
}

.ms2{
	position: absolute;
	width: 259px;
	height: 41px;
	left: 65px;
	top: 8804px;


	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 59px;
	/* or 124% */

	color: #FFFFFF;
}

/* Salsa Section */

.bluebox7{
	position: absolute;
	width: 1280px;
	height: 760px;
	left: 0px;
	top: 8941px;

	background: #0094FF;
	z-index: 0}

 #pepita1{

 	position: absolute;
	width: 642px;
	height: 430px;
	left: 330px;
	top: 9023px;

	background: url(photos/images_tj/pepita1.png);

	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;
  	z-index: 15;
}

.pep1{
	position: absolute;
width: 1154px;
height: 59px;
left: 99px;
top: 9467px;

font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 59px;
/* or 165% */


color: #FAFF00;}

.pep2{position: absolute;
width: 259px;
height: 41px;
left: 99px;
top: 9545px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 59px;
/* or 124% */

color: #FFFFFF;
}

/* everyday seasoning Section */


#everyday_seasoning1{
position: absolute;
width: 900px;
height: 420px;
left: 200px;
top: 9781.71px;


background: url(photos/images_tj/everyday_seasoning1.png);
background-size: cover;
background-repeat: no-repeat;
background-position: 50% 50%;
z-index: 15;

}

.ever1{
	position: absolute;
	width: 1154px;
	height: 59px;
	left: 98px;
	top: 10228px;

	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 59px;
	/* or 165% */
	color: #FAFF00;

}


.ever2{
	position: absolute;
	width: 259px;
	height: 41px;
	left: 98px;
	top: 10306px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 59px;
	/* or 124% */
	color: #FFFFFF;
}

/* Chile seasoning Section */

.bluebox8{
	position: absolute;
	width: 1280px;
	height: 760px;
	left: 0px;
	top: 10425px;

	background: #0094FF;
	z-index: 0}

#chile_seasoning1{
	position: absolute;
	width: 990px;
	height: 432px;
	left: 159px;
	top: 10500px;

	background: url(photos/images_tj/chile_seasoning1.png);

	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	z-index: 15;
}
.chile1{
	position: absolute;
	width: 1154px;
	height: 59px;
	left: 81px;
	top: 10969px;

	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 59px;
/* or 165% */
color: #FAFF00;}

.chile2{
	position: absolute;
	width: 259px;
	height: 41px;
	left: 81px;
	top: 11047px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 59px;
	/* or 124% */

	color: #FFFFFF;}

/* Ending! */
.greybox{position: absolute;
width: 1311px;
height: 804px;
left: -24px;
top: 11179px;

background: #7B7B7B;
z-index: 0}

.bag1{
position: absolute;
width: 375px;
height: 563px;
left: 87px;
top: 11215px;

background: url(photos/images_tj/brown__bags.png);
background-size: cover;
background-repeat: no-repeat;
background-position: 50% 50%;
z-index: 15;}

.bag2{
position: absolute;
width: 375px;
height: 563px;
left: 830px;
top: 11215px;

background: url(photos/images_tj/brown__bags.png);
background-size: cover;
background-repeat: no-repeat;
background-position: 50% 50%;
z-index: 15;}

#reciept{

	position: absolute;
	width: 258.3px;
	height: 526.92px;
	left: 529px;
	top: 11274px;
	background: url(photos/images_tj/reciept.png);

	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	z-index: 15;}

.finaltext{
	position: absolute;
	top: 11850px;
	left: 450px;

	font-family: 'Roboto Slab', serif;;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: white;
	line-height: 2.5;

	z-index: 25;}




